body{
    text-align: center;
}
#start{
    background-color: #00a2d5;
    color:white;
    border-radius: 20px;
    padding:15px;
    font-size: 3em;
}
#q1,#q2, #q3, #q4, #q5, #q6, #endResult{
    display: none;
}
img.slide {
	max-width: 250px;
}
